#chart-container {
    font-family: Arial;
    height: 420px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
  }
  
  #github-link {
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 3em;
  }